@define-color surface-alpha rgba(22, 19, 17, 0.5);

/*-----All Colors--------*/

@define-color background #161311;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #33302e;

@define-color inverse_primary #705a4b;

@define-color inverse_surface #e9e1de;

@define-color on_background #e9e1de;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #3e2d20;

@define-color on_primary_container #faddca;

@define-color on_primary_fixed #27180d;

@define-color on_primary_fixed_variant #564335;

@define-color on_secondary #3a2e26;

@define-color on_secondary_container #f3dfd2;

@define-color on_secondary_fixed #241912;

@define-color on_secondary_fixed_variant #52443b;

@define-color on_surface #e9e1de;

@define-color on_surface_variant #ccc5c2;

@define-color on_tertiary #422b1a;

@define-color on_tertiary_container #ffdcc4;

@define-color on_tertiary_fixed #2a1708;

@define-color on_tertiary_fixed_variant #5b412f;

@define-color outline #958f8d;

@define-color outline_variant #4a4644;

@define-color primary #ddc1af;

@define-color primary_container #564335;

@define-color primary_fixed #faddca;

@define-color primary_fixed_dim #ddc1af;

@define-color scrim #000000;

@define-color secondary #d6c3b7;

@define-color secondary_container #52443b;

@define-color secondary_fixed #f3dfd2;

@define-color secondary_fixed_dim #d6c3b7;

@define-color shadow #000000;

@define-color source_color #c1a796;

@define-color surface #161311;

@define-color surface_bright #3c3836;

@define-color surface_container #221f1d;

@define-color surface_container_high #2d2927;

@define-color surface_container_highest #383432;

@define-color surface_container_low #1e1b19;

@define-color surface_container_lowest #100e0c;

@define-color surface_dim #161311;

@define-color surface_tint #ddc1af;

@define-color surface_variant #4a4644;

@define-color tertiary #e4bfa7;

@define-color tertiary_container #5b412f;

@define-color tertiary_fixed #ffdcc4;

@define-color tertiary_fixed_dim #e4bfa7;

