/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0f0a17 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c1c5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c1c5; background-color: rgba(86,99,152,0.4)}
.cm-s-nqqwal { background-color: #0f0a17; color: #c3c1c5; }
.cm-s-nqqwal span.cm-builtin { color: #E2A055; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #62596d; }
.cm-s-nqqwal span.cm-keyword { color: #D3B46B; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #2B4C9B; }
.cm-s-nqqwal span.cm-def { color: #2F4E9A; }
.cm-s-nqqwal span.cm-variable { color: #566398; }
.cm-s-nqqwal span.cm-variable-2 { color: #2F4E9A; }
.cm-s-nqqwal span.cm-string { color: #E2A055; }
.cm-s-nqqwal span.cm-string-2 { color: #E2A055; }
.cm-s-nqqwal span.cm-number { color: #2F4E9A; }
.cm-s-nqqwal span.cm-tag { color: #D3B46B; }
.cm-s-nqqwal span.cm-property { color: #566398; }
.cm-s-nqqwal span.cm-attribute { color: #566398; }
.cm-s-nqqwal span.cm-qualifier { color: #2B4C9B; }
.cm-s-nqqwal span.cm-meta { color: #2F4E9A; }
.cm-s-nqqwal span.cm-header { color: #D3B46B; }
.cm-s-nqqwal span.cm-operator { color: #D3B46B; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(47,78,154,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #D3B46B; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0f0a17); }
