@define-color foreground #e5deda;
@define-color background #4a3c33;
@define-color cursor #e5deda;

@define-color color0 #4a3c33;
@define-color color1 #B19B8D;
@define-color color2 #BBA597;
@define-color color3 #C2AC9E;
@define-color color4 #CCB6A8;
@define-color color5 #D9C5B6;
@define-color color6 #E1CCBD;
@define-color color7 #e5deda;
@define-color color8 #a09b98;
@define-color color9 #B19B8D;
@define-color color10 #BBA597;
@define-color color11 #C2AC9E;
@define-color color12 #CCB6A8;
@define-color color13 #D9C5B6;
@define-color color14 #E1CCBD;
@define-color color15 #e5deda;
