/* Tinct GTK3 Theme - Generated */
/* For use with adw-gtk3 theme */
/* Theme type: dark */

/* adw-gtk3/libadwaita color variables */

/* Window colors */
@define-color window_bg_color #898ddc;
@define-color window_fg_color #101733;

/* View colors (text fields, lists, etc) */
@define-color view_bg_color #20235e;
@define-color view_fg_color #aab5e4;

/* Accent colors (interactive elements) */
@define-color accent_bg_color #fcfbfd;
@define-color accent_fg_color #000000;
@define-color accent_color #fcfbfd;

/* Headerbar colors */
@define-color headerbar_bg_color #20235e;
@define-color headerbar_fg_color #aab5e4;
@define-color headerbar_backdrop_color #4a4d90;
@define-color headerbar_shade_color #5c5e89;

/* Card/List colors */
@define-color card_bg_color #20235e;
@define-color card_fg_color #aab5e4;
@define-color card_shade_color #5c5e89;

/* Popover/Menu colors */
@define-color popover_bg_color #20235e;
@define-color popover_fg_color #aab5e4;

/* Dialog colors */
@define-color dialog_bg_color #20235e;
@define-color dialog_fg_color #aab5e4;

/* Sidebar colors */
@define-color sidebar_bg_color #4a4d90;
@define-color sidebar_fg_color #f7f8fc;
@define-color sidebar_backdrop_color #4a4d90;
@define-color sidebar_shade_color #5c5e89;

/* Status colors */
@define-color warning_bg_color #e5e598;
@define-color warning_fg_color #000000;
@define-color warning_color #e5e598;

@define-color error_bg_color #e59898;
@define-color error_fg_color #000000;
@define-color error_color #e59898;

@define-color success_bg_color #98e598;
@define-color success_fg_color #000000;
@define-color success_color #98e598;

/* Destructive action colors */
@define-color destructive_bg_color #e59898;
@define-color destructive_fg_color #000000;
@define-color destructive_color #e59898;
