CompileFlags:
  Add:
    - -I.
    - -DVERSION="6.5"
    - -D_DEFAULT_SOURCE
    - -D_BSD_SOURCE
    - -D_XOPEN_SOURCE=700L
    - -DXINERAMA
  Compiler: gcc

Diagnostics:
  Suppress:
    - "unknown_type"
    - "undeclared_identifier"
